@{
    ViewBag.Title = "Home";
    Layout = "_HomeLayout";
}

<div class="jumbotron text-center" style="background-color: white;">
    <h1 class="display-4">E-Bill Application</h1>
</div>

<div class="text-center">
    <img src="/images/e-bill.png" alt="E-Bill Application" class="img-fluid" style="max-width: 100%; height: auto;" />
</div>

<div class="mt-5 text-center">
    <a href="/Bill/ViewBills" class="btn btn-primary btn-lg">View Bills</a>
    <a href="/Bill/AddForm" class="btn btn-success btn-lg">Create Bill</a>
</div>
